@font-face {
    font-family: "Outfit";
    src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: "Young-Serif";
    src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

:root {
    --ui-white: hsl(0, 0%, 100%);
    --ui-stone-100: hsl(30, 54%, 90%);
    --ui-stone-150: hsl(30, 18%, 87%);
    --ui-stone-600: hsl(30, 10%, 34%);
    --ui-stone-900: hsl(24, 5%, 18%);
    --ui-brown-800: hsl(14, 45%, 36%);
    --ui-rose-800: hsl(332, 51%, 32%);
    --ui-rose-50: hsl(330, 100%, 98%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--ui-stone-100);
    font-family: Outfit, Arial, Helvetica, sans-serif;
    color: var(--ui-stone-600);
    line-height: 1.5;
}

main {
    background-color: var(--ui-white);
    /* between 320px and 736px */
    inline-size: clamp(20rem, 100vi, 46rem);
    margin-inline: auto;
}
main > * {
    margin-inline: 2rem;
}
main > section {
    padding-block: 2em;
    border-block-end: 1px solid var(--ui-stone-150);
    &:last-child {
        border-block-end: none;
        padding-block-end: 1.85rem;
    }
}

.main-illustration {
    margin-inline: 0;
    img {
        inline-size: 100%;
        display: block;
    }
}

header {
    padding-block-start: 2.5rem;
    p {
        padding-block: 1.5em 2em;
    }
    section {
        /* Evaluates to 1.5em for a 375px wide viewport, and 1.75em for 1440px */
        padding: calc(1.412em + 0.376vi);
        background-color: var(--ui-rose-50);
        border-radius: 0.75em;
        h2 {
            font-family: Outfit, Arial, Helvetica, sans-serif;
            color: var(--ui-rose-800);
            font-weight: 600;
            font-size: 1.25rem;
            padding-block-end: 0.8em;
        }
        li::before {
            color: var(--ui-rose-800);
        }
    }
}


ul, ol {
    padding-inline-start: 1.5em;
    li {
        padding-inline-start: 1em;
        margin-block-start: 0.5em;
        &:first-child {
            margin-block-start: 0;
        }
        &::marker {
            color: var(--ui-brown-800);
            font-weight: 700;
        }
    }
}
ul {
    list-style: none;
    li {
        position: relative;
        &::before {
            content: "•";
            font-weight: 700;
            color: var(--ui-brown-800);
            position: absolute;
            inset-inline-start: -1em;
            inset-block-start: calc(50% - (1lh / 2));
        }
    }
}

h1, h2 {
    font-family: Young-Serif, Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    line-height: 1;
}
h1 {
    /* Evaluates to 2.25rem for a 375px wide viewport, and 2.5rem for 1440px */
    font-size: calc(2.162rem + 0.376vi);
    color: var(--ui-stone-900);
}
h2 {
    font-size: 1.75rem;
    color: var(--ui-brown-800);
    padding-block-end: 0.84em;
}

table {
    inline-size: 100%;
    padding-block-start: 0.65em;
    th, td {
        border-block-start: 1px solid var(--ui-stone-150);
        padding-block: 0.75em 0.55em;
    }
    th {
        font-weight: 400;
        text-align: start;
        padding-inline-start: 1.9em;
        inline-size: 50%;
    }
    td {
        color: var(--ui-brown-800);
        font-weight: 700;
        padding-inline-start: 0.45em;
        inline-size: 50%;
    }
    tr:first-child :is(th, td) {
        border-block-start: none;
    }
}

@media (min-width: 38rem) { /* 672px */
    .main-illustration {
        margin-inline: 2rem;
        padding-block-start: 2rem;
        img {
            border-radius: 0.75rem;
        }
    }
}

@media (min-width: 46rem) { /* 736px */
    .main-illustration {
        /* Evaluates to 2rem for a 736px wide viewport, and 2.5rem for 1440px */
        margin-inline: calc(1.477rem + 1.136vi);
        /* Evaluates to 2rem for a 736px wide viewport, and 2.5rem for 1440px */
        padding-block-start: calc(1.477rem + 1.136vi);
    }
    main {
        /* Evaluates to 0rem for a 736px wide viewport, and 7.66rem for 1440px */
        margin-block: calc(17.409vi - 8.008rem);
        border-radius: 1.5rem;
    }
    main > * {
        /* Evaluates to 2rem for a 736px wide viewport, and 2.5rem for 1440px */
        margin-inline: calc(1.477rem + 1.136vi);
    }
}
